<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= User.find(@message.senderid).name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= User.find(@message.recvid).name %>
</p>

<p>
  <strong>Mesg:</strong>
  <%= @message.mesg %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', :back %>
