<p id="notice"><%= notice %></p>

<p>
  <strong>Senderid:</strong>
  <%= @message.senderid %>
</p>

<p>
  <strong>Recvid:</strong>
  <%= @message.recvid %>
</p>

<p>
  <strong>Mesg:</strong>
  <%= @message.mesg %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
