<%= render 'layouts/header' %>

<% if @course_instructors.size==0%>
<h2> You have no pending requests. </h2>
<% else %>
<h1>Requests to make Course inactive</h1>

<table border=1>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Course</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Status</th>
      <th colspan="2"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @course_instructors.each do |course_instructor| %>
      <tr>
        <td><%= course_instructor.user.name %></td>
        <td><%= course_instructor.course.title %></td>
        <td><%= course_instructor.startdate %></td>
        <td><%= course_instructor.enddate %></td>
        <td><%= course_instructor.status %></td>
        <td><%= form_tag({:action => :make_inactive}) do %><%= hidden_field_tag 'id', course_instructor.id%><%= submit_tag( "Make Inactive" ) %><% end%></td>
        <td><%= form_tag({:action => :make_active}) do %><%= hidden_field_tag 'id', course_instructor.id%><%= submit_tag( "Make Active" ) %><% end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Back', :back %>
