<%= render 'layouts/header' %>
<h1> Welcome Instructor, <%=@instructor.name%> </h1><br>
<fieldset>
<%= link_to 'Add Student to course', show_pending_students_requests_instructors_url %><br>
<%= link_to 'Remove student from course', show_enrolled_students_requests_instructors_url %><br>
<%= link_to 'View/Edit and Add Material to Courses', view_my_courses_instructors_path %><br>
<%= link_to 'View Students/Post grades', view_my_students_instructors_path %><br>
</fieldset>
<br><br>
