<%= render 'layouts/header' %>
<h1> Welcome Instructor, <%=@instructor.name%> </h1><br>
<fieldset>
<%= link_to 'Add Student to course', show_pending_students_requests_instructors_url %><br>
<%= link_to 'Remove student from course', show_enrolled_students_requests_instructors_url %><br>
<%= link_to 'View/Edit and Add Material to Courses', view_my_courses_instructors_path %><br>
<%= link_to 'View Students/Post grades', view_my_students_instructors_path %><br>
<%= link_to 'Request to make course inactive', view_my_courses_instructors_path %><br>
</fieldset>
<br><br>
<h3>Messages:</h3>
<%= link_to 'New Message', new_message_path %><br>
<h3>View Messages:</h3>
<%= form_tag('/messages', method: "get") do %>
  <div class="field">
    <%= select("message", :recvid, Student.all.collect{ |c| [ c.name, c.id] }) %>
  </div>
  <%= submit_tag("Search") %>
<% end %>
