<%= render 'layouts/header' %>
<% if @course_students.size==0 %>
<h2>No pending students</h2>
<% else %>
<table border=1>
<thead>
    <tr>
      <th>Name</th>
      <th>Course Name</th>
      <th>Course Number</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Enroll Student</th>
    </tr>
  </thead>

  <tbody>
    <% @course_students.each do |course_student| %>
      <tr>
        <td><%=course_student.user.name%></td>
      	<td><%=course_student.course_instructor.course.title%></td>
      	<td><%=course_student.course_instructor.course.coursenumber%></td>
        <td><%=course_student.course_instructor.startdate%></td>
      	<td><%=course_student.course_instructor.enddate%></td>
        <td><%= form_tag({:action => :unenroll_student}) do %><%= hidden_field_tag 'course_student', course_student.id %><%= submit_tag( "UnEnroll" ) %><% end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<%= link_to 'Back', :back %>