<%= form_for(@course_student) do |f| %>
  <% if @course_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_student.errors.count, "error") %> prohibited this course_student from being saved:</h2>

      <ul>
      <% @course_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
   	<%= select("course_student", "user_id", Student.all.collect{ |c| [ c.name, c.id] }) %>  </div>
  </div>
  <div class="field">
    <%= f.label :course_instructor_id %><br>
   	<%= select("course_student", "course_instructor_id", CourseInstructor.all.collect{ |c| [ c.course.title+" by Professor "+c.user.name + ": " +c.startdate.to_s + " to "+ c.enddate.to_s, c.id] }) %>  </div>
  </div>
  <div class="field">
    <%= f.label :grades %><br>
    <%= f.text_field :grades %>
  </div>
 <div class="field">
    <%= f.label :status %><br>
   	<%= select("course_student", "status", [["Enrolled","Enrolled"],["Un-Enroll","Unenrolled"]]) %>  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
