<%= render 'layouts/header' %>

<h1>Listing Course Students</h1>

<table border=1>
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th>Instructor</th>
      <th>Grades</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @course_students.each do |course_student| %>
      <tr>
        <td><%= course_student.user.name %></td>
        <td><%= course_student.course_instructor.course.title %></td>
         <td><%= course_student.course_instructor.user.name %></td>
        <td><%= course_student.grades %></td>
        <td><%= course_student.status %></td>
        <td><%= link_to 'Show', course_student %></td>
        <td><%= link_to 'Edit', edit_course_student_path(course_student) %></td>
        <td><%= link_to 'Destroy', course_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course student', new_course_student_path %>
