<%= render 'layouts/header' %>

<p>
  <strong>Student:</strong>
  <%= @course_student.user.name %>
</p>

<p>
  <strong>Course instructor:</strong>
    <%= @course_student.course_instructor.course.title %> by 
    <%= @course_student.course_instructor.user.name %>
</p>

<p>
  <strong>Grades:</strong>
  <%= @course_student.grades %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course_student.status %>
</p>

<%= link_to 'Edit', edit_course_student_path(@course_student) %> |
<%= link_to 'Back', :back %>
