<%= render 'layouts/header' %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Coursenumber:</strong>
  <%= @course.coursenumber %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<%= if @current_user.type != "Student"
      link_to 'Edit Course', edit_course_path(@course)
    end %>
<p>
<%if @current_user.type != Student.new.type%>
    <strong>Instructor(s):</strong>
    <ul>
        <% if params[:id]%>
            <%Course.find(params[:id]).course_instructors.each do |eachcourseinstr|%>
                <li>
                    <%=eachcourseinstr.user.name%>
                </li>
            <%end%>
        <%else%>
                No instructors to display.
        <%end%>
    </ul>
    <%= if @current_user.type != "Student"
            link_to 'Add Instructor to Course', new_course_instructor_path
        end
        %>
    <strong>Materials:</strong>
    <ul>
        <% if params[:id]%>
            <%Course.find(params[:id]).course_instructors.each do |eachcourseinstr|%>
                <li>
                    <strong>
                        Instructor:
                    </strong>
                    <%=eachcourseinstr.user.name%>
                </li>
                <ul>
                    <%eachcourseinstr.materials.each do |eachmaterial|%>
                        <li>
                            <%=eachmaterial.material%>
                        </li>
                    <%end%>
                </ul>
                <%if eachcourseinstr.materials.length == 0%>
                    No materials in this course yet.
                <%end%>
            <%end%>
        <%else%>
                No materials to display.
        <%end%>
    </ul>
<%end%>
</p>
<p>
<% if @current_user.type == Student.new.type %>
    <strong>Instructor:</strong>
    <%=CourseInstructor.find(params[:course_instr_id]).user.name%>
    <br/>
    <strong>Materials:</strong>
    <ul>
        <%CourseInstructor.find(params[:course_instr_id]).materials.each do |eachmaterial|%>
            <li><%=eachmaterial.material%></li>
        <%end%>
    </ul>
    <%flag=true%>
    <%@current_user.course_students.each do |eachenrollment|%>
        <%if eachenrollment.course_instructor.id == params[:course_instr_id].to_f%>
            <%flag=false%>
            <strong>Enrollment Status:</strong> 
            <%=eachenrollment.status%>
        <%end%>
    <%end%>
    <%if flag==true%>
        Flag:<%=flag%><br>
        <%=link_to 'Enroll in course', course_enroll_request_path(course_number: @course.coursenumber, student_id: @current_user.id, course_instr_id: params[:course_instr_id])%>
    <%end%>
<%end%>
</p>
<%= link_to 'Back', :back %>
