<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>Listing Materials</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>User</th>
      <th>Material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.course_instructor.course.title %></td>
        <td><%= material.course_instructor.user.name %></td>
        <td><%= material.material %></td>
        <%if current_user.type != Student.new.type%>
          <td><%= link_to 'Edit', edit_material_path(material) %></td>
          <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', :back %>
